<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

</head>
<body>
<div class="signin-form">
    <form  #formRef='ngForm' (ngSubmit)='onSubmit(formRef.value)'>
		<h2>Sign in</h2>
		<div class="or-seperator"><b>or</b></div>
        <div class="form-group">
        	<input type="text" class="form-control input-lg"placeholder="Enter Username" #usernameRef='ngModel' name="Name" required ngModel>
            <span >name can not blank </span>
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="Enter Password" #passwordRef='ngModel' name="password" required ngModel>
            <span >password can not be a blank</span>
        </div>  
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" value="SignIn">Sign in</button>
        </div>
    </form>
    <div class="text-center small">Don't have an account? <a href="/api/signup">Sign up</a></div>
</div>
</body>
</html>                            